In [698]:
import pandas as pd
import re
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## Charger l'extraction Tabula

In [699]:
df = pd.read_csv('tabula-compenswiss - list of positions - 30.06.2022.csv')

## Nettoyer l'extraction Tabula
J'ai gardé les entêtes de chaque page pour garder les bonnes colonnes lors de l'extraction. On a plus besoin de ces entêtes.

In [700]:
df = df[df['ISIN'] != 'ISIN']

Formate les nombres

In [701]:
# Supprime les séparateurs de milliers
df['Market Value CHF'] = df['Market Value CHF'].replace("'",'', regex=True)

# Supprime les décimales
df['Market Value CHF'] = df['Market Value CHF'].replace("\..*",'', regex=True)

# Convertit les montants en entiers
df['Market Value CHF'] = df['Market Value CHF'].astype(int)

In [702]:
df.head()

,ISIN,Asset Class,Description,Nominal/Quantity,Market Value CHF
0,XS2459025909,Money market Investments,0 ALLZ 22 ECP,EUR 3'000'000,3008851
1,CH0496692960,Money market Investments,0 BALOISE HLDG 22,CHF 8'100'000,8108100
2,CH0496692960,Money market Investments,0 BALOISE HLDG 22,CHF 8'400'000,8392440
3,CH0496692960,Money market Investments,0 BALOISE HLDG 22,CHF 1'000'000,999100
4,CH0407153342,Money market Investments,0 BLKB 23,CHF 5'000'000,4972500

## Vérifier les montants

In [703]:
df['Market Value CHF'].sum()

34454523303

In [704]:
len(df)

5514

## Mapping Bloomberg pour identifier les compagnies et leur catégorie d'activité

In [705]:
### Charger le fichier Bloomberg (Finanz & Wirtschaft)
### Créer un dictionnaire avec des ISIN uniques pour identifier l'entreprise

bloom = pd.read_excel('mapping.xlsx')

bloom = bloom.drop_duplicates(subset=['ISIN'])

In [706]:
df = pd.merge(bloom, df, on = "ISIN", how = "right", indicator = True)

# 234 lignes du fichier Compenswiss ne peuvent pas être identifiées
df['_merge'].value_counts()

both          5280
right_only     234
left_only        0
Name: _merge, dtype: int64

In [707]:
# Exemple

df[df['ISIN'] == 'CA01626P3043']

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
3824,CA01626P3043,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equities,ALIMENT COUCHE -A,43'286,1613004,right_only

In [708]:
# Tous les exemples

df[df['_merge'] == 'right_only']

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
0,XS2459025909,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money market Investments,0 ALLZ 22 ECP,EUR 3'000'000,3008851,right_only
8,XS2435086652,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money market Investments,0 DNBB 22 ECP,EUR 3'000'000,3015160,right_only
19,XS2489589874,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money market Investments,0 OPCB 23 ECP,EUR 3'500'000,3503016,right_only
20,XS2429878700,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money market Investments,0 OPCB 23 ECP,USD 2'000'000,1903345,right_only
25,FR0127437160,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money market Investments,0 SG 23 ECP,USD 1'000'000,957350,right_only
26,XS2451802925,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money market Investments,0 SHB 22 ECP,EUR 3'000'000,3010201,right_only
333,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Loans,COMPENSWISS LOAN PORTFOLIO,NaN,1141047419,right_only
1430,CH1191714711,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.625 GIVAUD 29,CHF 1'900'000,1881000,right_only
1431,CH0522159000,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.625 LUKB 42,CHF 2'000'000,1870000,right_only
1432,CH0204477258,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.625 NAT AUS BK 23,CHF 24'545'000,24704543,right_only
1433,CH1194355108,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.625 NESTLE 26,CHF 14'000'000,14236530,right_only
1435,CH1179535021,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.625 PB 38 S719,CHF 1'000'000,962260,right_only
1442,CH1182086848,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.65 KANTSPIT 37,CHF 2'000'000,1851000,right_only
1443,CH0522159034,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.7 BLKB 42,CHF 2'000'000,1897000,right_only
1444,CH1175016125,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.7 DIGIT 27 -S,CHF 1'500'000,1420500,right_only
1445,CH1179534966,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.7 GRANDDIXENCE 29,CHF 1'500'000,1453500,right_only
1446,CH1189217768,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.7 KSBAS 32,CHF 4'000'000,3856840,right_only
1447,CH1189217834,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.7 PZ 32 S554,CHF 13'000'000,12931100,right_only
1449,CH1175016109,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.75 ALPIQ 26,CHF 3'000'000,2934000,right_only
1457,CH1179534990,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.75 PAC LIFE 29,CHF 1'000'000,962500,right_only
1462,CH1172972825,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.77 HIAG IMMO 26,CHF 500'000,493500,right_only
1463,CH1184694722,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.8 HEATHROW 29,CHF 1'000'000,979000,right_only
1464,CH1187520494,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.805 HSBC 26,CHF 400'000,397480,right_only
1465,CH1194000316,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.81 NDA 27,CHF 1'400'000,1387400,right_only
1468,CH1194355082,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.875 CSS 26 CB,CHF 1'500'000,1521000,right_only
1474,CH1196217009,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.875 PRIE 26,CHF 1'500'000,1502235,right_only
1475,CH1199659942,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.875 RHBAG 34,CHF 5'000'000,5002650,right_only
1480,CH1187520486,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.878 HYUNDAI24 MTN,CHF 1'500'000,1417500,right_only
1481,CH1189217842,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.9 PZ 42 S555,CHF 12'000'000,11970000,right_only
1482,CH1189217859,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.9 STADTBERN53,CHF 5'000'000,5150000,right_only
1483,CH1194000332,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,1.95 HELVETIA29,CHF 2'300'000,2296550,right_only
1484,CH0225173332,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2 ANDINA 24 MTN,CHF 2'315'000,2345095,right_only
1486,CH1196216985,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2 BLS 34,CHF 1'800'000,1853316,right_only
1487,CH1199322343,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2 BLS 47,CHF 2'500'000,2588363,right_only
1494,CH1191066252,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2 KKWL 27,CHF 2'000'000,1967400,right_only
1507,CH1189217867,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2.1 DAETWYLER 27,CHF 1'800'000,1846422,right_only
1508,CH0522159026,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2.1 RCI 25 EMTN -S,CHF 1'000'000,988000,right_only
1512,CH1194355116,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2.125 NESTLE 30,CHF 10'000'000,10282650,right_only
1517,CH0222050939,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2.25 CT GENEVE 29,CHF 3'000'000,3160500,right_only
1535,CH1194355124,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2.50 NESTLE 34,CHF 8'000'000,8356800,right_only
1545,CH1196217017,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swiss Franc bonds,2.625 ROMANDE37,CHF 1'750'000,1812125,right_only
1587,DE0001102580,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 BRD 32,EUR 1'500'000,1310028,right_only
1592,XS2419364653,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 EIB 27,EUR 2'000'000,1822669,right_only
1599,FR0014007TY9,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 FCE 25 TN -S,EUR 1'000'000,973788,right_only
1602,FR0014007L00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 FCE 32 TN -S,EUR 1'900'000,1571893,right_only
1604,FR0013508470,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 FRA 26 TN REG S,EUR 2'000'000,1917751,right_only
1615,XS2438629573,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 KFW 24,DKK 10'000'000,1332391,right_only
1625,PL0000114021,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 POLAND 24,PLN 20'000'000,3662583,right_only
1631,XS2407914394,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0 THER FISH 25,EUR 1'000'000,927799,right_only
1650,JP1051521N69,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.1 JP 27 152 TR,JPY 400'000'000,2829339,right_only
1651,JP1103461H35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.1 JP 27 346 TR BD,JPY 600'000'000,4245446,right_only
1658,JP1103651N11,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.1 JP 31 365 TR BD,JPY 700'000'000,4868966,right_only
1674,DE000A3MP7J5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.125 KFW 25 EMTN,EUR 2'000'000,1938769,right_only
1676,XS1936793311,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.125 NWB 24 EMTN,EUR 1'000'000,986309,right_only
1748,XS2438615606,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.25 VOLKSW 25 EMTN,EUR 2'250'000,2108265,right_only
1755,XS1955187692,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.3 SIEMENS F24 NTS,EUR 1'400'000,1379964,right_only
1783,XS2258448526,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.375 EUFI 23 EMTN,USD 3'000'000,2762022,right_only
1791,XS2197690915,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.375 MUNI 23 BDS-S,USD 3'500'000,3250706,right_only
1799,XS1874127811,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.375 SIEMEN 23,EUR 1'000'000,992074,right_only
1821,XS1856791873,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.5 ABN 23 B,EUR 1'100'000,1092140,right_only
1854,GB00BLPK7227,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.5 GBR TRY 29,GBP 2'000'000,2101808,right_only
1855,GB00BMBL1D50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.5 GBR TSY 61,GBP 1'300'000,774013,right_only
1861,JP1201791N14,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.5 JP 41 179 TR,JPY 300'000'000,1970680,right_only
1879,XS2432530637,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.5 SANTAN CONS 27,EUR 700'000,623467,right_only
1888,XS2432502008,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.5 TD 27 EMTN-S,EUR 500'000,447210,right_only
1910,FR0014007PV3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.625 BFCM 27 EMTN,EUR 1'000'000,863543,right_only
1914,FR0013367406,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.625 BPCE 23,EUR 2'500'000,2477883,right_only
1928,XS2443921056,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.625 INFIN 25,EUR 600'000,576436,right_only
1937,XS2394766278,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.625 NRW 24 NTS,GBP 1'000'000,1105102,right_only
1952,XS2440678915,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.625 VOLVO 25,EUR 1'000'000,964130,right_only
1963,USN82008AW83,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.65 SIEM24 NTS-S,USD 1'000'000,913274,right_only
1965,US892331AL39,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.681TOYOTA 24 NTS,USD 400'000,365532,right_only
1969,JP1300731N17,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.7 JP 51 73 TR,JPY 400'000'000,2472233,right_only
1971,DE000AAR0322,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.75 AAREAL BANK 28,EUR 1'000'000,820406,right_only
1978,XS2440690456,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.75 ATLAS 32 EMTN,EUR 1'500'000,1189474,right_only
2020,XS2433211310,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.75 SNAM 29 EMTN,EUR 800'000,660088,right_only
2031,FR0014007Q96,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.75CM ARKEA 30 MTN,EUR 1'000'000,825711,right_only
2036,USU09513JB69,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.8 BMWUS 24 NTS -S,USD 750'000,683763,right_only
2037,JP1201801N46,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.8 JP 42 180 TR BD,JPY 300'000'000,2082133,right_only
2046,XS2444281260,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.875 ALFA LAVAL 26,EUR 1'500'000,1363924,right_only
2066,XS2463505581,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.875 E.ON 25 -S,EUR 1'200'000,1164823,right_only
2067,XS2433244246,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.875 E.ON 34 EMTN,EUR 1'600'000,1179896,right_only
2071,XS2432293756,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.875 ENEL 31 EMTN,EUR 2'000'000,1576958,right_only
2083,XS2442764747,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.875 IBM 30,EUR 2'000'000,1726686,right_only
2090,DE000A3MQNP4,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.875 LEG IMMO 29,EUR 1'000'000,786997,right_only
2118,US08576PAG63,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,0.95 BER 24 NTS,USD 6'610'000,5999213,right_only
2134,XS2432565005,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1 BALDER 27 EMTN,EUR 500'000,361711,right_only
2142,FR0014007LM1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1 BPCE 32 MTN,EUR 1'000'000,777169,right_only
2149,BE0002838192,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1 COFINIMMO 28,EUR 1'000'000,840524,right_only
2155,XS2432544349,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1 ESB 34 EMTN,EUR 3'000'000,2351324,right_only
2161,XS2444424639,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1 GMF 25,EUR 1'100'000,1037533,right_only
2164,FR0014007NF1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1 ICADE 30,EUR 500'000,399044,right_only
2191,XS2434710872,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.054 NG 31 EMTN,EUR 2'000'000,1615791,right_only
2194,FR0014007MK3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.125 AGRI 32 EMTN,EUR 1'000'000,777669,right_only
2199,FR0014007PW1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.125 BFCM 32 EMTN,EUR 1'000'000,788078,right_only
2245,XS2115092012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.2 IBM CORP 40,EUR 2'000'000,1417821,right_only
2250,XS2434787235,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 ABN 34 EMTN,EUR 500'000,374322,right_only
2263,XS2432293913,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 ENEL 35 EMTN,EUR 3'000'000,2158858,right_only
2268,XS2462324745,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 GSK 26,EUR 1'000'000,959126,right_only
2270,XS2442765124,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 IBM 34,EUR 1'500'000,1217698,right_only
2275,XS2462321303,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 NESTLE 31,EUR 1'300'000,1155264,right_only
2282,XS2433226854,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 SNAM 34 EMTN,EUR 1'000'000,728327,right_only
2287,GB00BJQWYH73,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 UK TSY 41,GBP 3'800'000,3501897,right_only
2288,GB00BLH38158,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.25 UK TSY 51,GBP 2'400'000,2032505,right_only
2299,XS2443485565,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.3 SWDB22 EMTN,EUR 500'000,457394,right_only
2306,XS2436160183,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 ACCI 32 EMTN,EUR 1'000'000,804493,right_only
2308,XS2444286145,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 ALFA LAVAL 29,EUR 1'000'000,838121,right_only
2314,XS2458285355,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 DSV 30 EMTN,EUR 1'500'000,1309727,right_only
2325,XS2435611244,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 HEIMSTADEN 28,EUR 500'000,378776,right_only
2329,XS1941813617,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 KFW 24 EMTN,GBP 2'000'000,2267175,right_only
2330,XS2475954900,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 KFW 32 -S,EUR 500'000,471356,right_only
2333,KR103502G9C8,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 KTB 29,KRW 7'000'000'000,4394916,right_only
2350,DE000A3MQS56,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 VONOVIA26,EUR 500'000,463624,right_only
2351,FR0014006VH2,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.375 WENDEL 34,EUR 2'000'000,1331146,right_only
2355,DE0001141869,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.3FRG 27 NTS,EUR 2'000'000,2026745,right_only
2360,XS1944412318,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.4025 ALBERT29 MTN,SEK 6'000'000,491596,right_only
2363,US40434LAF22,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.45 HP 26 NTS,USD 6'380'000,5406829,right_only
2365,XS2433135543,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.475 HIT 31,EUR 1'300'000,1029837,right_only
2378,CA135087N340,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.5 CAN 25,CAD 2'000'000,1420495,right_only
2389,XS2466368938,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.5 DIAGEO 29,EUR 2'000'000,1846990,right_only
2400,XS2466052979,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.5 KFW 25 EMTN,SEK 20'000'000,1790316,right_only
2425,XS2444263102,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.56 EXPERI 31 EMTN,EUR 500'000,426067,right_only
2431,CA045167FJ75,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.625 ASIAN 25,CAD 3'000'000,2132413,right_only
2444,XS2463518998,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.625 E.ON 31,EUR 1'000'000,874653,right_only
2450,FR00140082Z6,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.625 JCD 30,EUR 1'200'000,980764,right_only
2452,XS2431318802,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.625 LOGI 30 EMTN,EUR 1'000'000,782874,right_only
2461,XS2477935345,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.625 TENNET 26EMTN,EUR 1'700'000,1645997,right_only
2471,BE6332786449,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.625 VGP 27,EUR 1'000'000,776969,right_only
2474,XS2465984107,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.631 MIZUHO 27,EUR 1'000'000,922194,right_only
2486,XS1769041606,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.7 NOVARTIS 38,EUR 2'000'000,1639411,right_only
2500,XS2432162654,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.75 CPI 30 EMTN,EUR 1'000'000,698101,right_only
2502,CZ0001006233,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.75 CZECH 32 138,CZK 112'000'000,3474083,right_only
2503,XS2443529958,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,1.75 DBJ 25 NTS -S,USD 3'000'000,2765325,right_only

## Tests for manual update

In [ ]:
# Méthode pour combler les lacunes d'un dataframe avec un dataframe à la structure similaire

In [709]:
df1 = pd.DataFrame({'id':[1,2],
                    'company': ['Novartis', np.NaN],
                    'category': [np.NaN, "NaN"]
                   })
df2 = pd.DataFrame({'id': [1,2],
                    'company': [np.NaN, 'Migros'],
                    'category': ["pharma", "retail"]
                   })

df1 = df1.set_index("id").combine_first(df2.set_index("id")).reset_index()
df1

## Editing

In [665]:
# Charger le fichier contenant des ajouts manuels faits sur Google Sheets

transfo = pd.DataFrame(pd.read_csv('transformations_manuelles.csv'))

In [666]:
transfo.sample()

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Currency,Nominal/Quantity,Market Value CHF,Date.1,_merge
4,US42225P5017,NaN,NaN,NaN,NaN,NaN,HEALTHCARE TRUST AME. HTA.,NaN,NaN,Engineering&Construction (medical office build...,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,HLTHC RLTY TR-A,NaN,150246,4014519,False,right_only

In [667]:
# Fill df NaNs with transfo values (Company Name and Gruppe), 10 rows modified
# Combler les cellules manquants des colonnes Company Name et Gruppe (NaN) du fichier Compenswiss avec les ajouts manuels

df = df.set_index("ISIN").combine_first(transfo.set_index("ISIN")).reset_index()

In [668]:
# Exemples

df[df.apply(lambda row: row.astype(str).str.contains("US276480AE09", case=False).any(), axis=1)]

,ISIN,Asset Class,Company Name,Country (P),Country ISO,Currency,Date,Date.1,Description,Emittent,Gruppe,Kurzname,Land (Risiko),Market Value CHF,Name,Nominal/Quantity,Sektor,Sitzland,Ticker,Untergruppe,Vollständiger Name,Wertpapiertyp,_merge
3582,US276480AE09,Foreign Currency bonds,Eastern Gas Transmission & Storage Inc,NaN,NaN,NaN,NaT,False,4.8 EAST 43NTS-144A,NaN,Gas,NaN,NaN,559122.0,NaN,USD 625'000,NaN,NaN,NaN,NaN,NaN,NaN,right_only

In [669]:
df[df.apply(lambda row: row.astype(str).str.contains("XS2429878700", case=False).any(), axis=1)]

,ISIN,Asset Class,Company Name,Country (P),Country ISO,Currency,Date,Date.1,Description,Emittent,Gruppe,Kurzname,Land (Risiko),Market Value CHF,Name,Nominal/Quantity,Sektor,Sitzland,Ticker,Untergruppe,Vollständiger Name,Wertpapiertyp,_merge
5384,XS2429878700,Money market Investments,OP YRITYSPANK,NaN,NaN,NaN,NaT,True,0 OPCB 23 ECP,NaN,Banks,NaN,NaN,1903345.0,NaN,USD 2'000'000,NaN,NaN,NaN,NaN,NaN,NaN,right_only

## Analyses

#### La valeur la plus haute est un fond Pictet

In [672]:
df[df['Market Value CHF'] == df['Market Value CHF'].max()]

,ISIN,Asset Class,Company Name,Country (P),Country ISO,Currency,Date,Date.1,Description,Emittent,Gruppe,Kurzname,Land (Risiko),Market Value CHF,Name,Nominal/Quantity,Sektor,Sitzland,Ticker,Untergruppe,Vollständiger Name,Wertpapiertyp,_merge
456,CH0180951227,Equities,Pictet CH Institutional - Emerging Markets Tra...,0,0,NaN,2022-06-30,NaN,PICTCHEMMKTT Z USD,Pictet CH Institutional - Emer,Equity Fund,PIC-EM MK T-Z$,CH,1.787431e+09,PICTET CH-EMERGING MK T-ZUSD,1'122'632,Funds,CH,PICEMZU,Emerging Market-Equity,PICTET CH-EMERGING MK T-ZUSD,Open-End Funds,both

In [783]:
df.nlargest(10, 'Market Value CHF')

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
4810,CH0180951227,2022-06-30,PICTET CH-EMERGING MK T-ZUSD,PICEMZU,Open-End Funds,Pictet CH Institutional - Emer,Pictet CH Institutional - Emerging Markets Tra...,PICTET CH-EMERGING MK T-ZUSD,PIC-EM MK T-Z$,Equity Fund,Funds,Emerging Market-Equity,0,0,CH,CH,Equities,PICTCHEMMKTT Z USD,1'122'632,1787431257,both
5513,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Commodities,GOLD - LBMA GOOD DELIVERY BARS,NaN,1183595274,right_only
333,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Loans,COMPENSWISS LOAN PORTFOLIO,NaN,1141047419,right_only
3591,IE00BCQNQM04,2022-06-30,LEGG MAS US MORT BACK-A USD,WANBLAU,Open-End Funds,Legg Mason Western Asset US Mo,Legg Mason Western Asset US Mortgage-Backed Se...,LEGG MAS US MORT BACK-A USD,LEGG-US MOR-A$,Debt Fund,Funds,Unclassified,0,0,IE,IE,Foreign Currency bonds,LM WA MBS USD-LM-AC,10'358'850,1023083345,both
5367,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,Immobilien Schweiz II,NaN,936352131,right_only
5366,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,Immobilien Schweiz I,NaN,925025379,right_only
3397,IE00B6YX4R11,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,BAR EU LN EUR-TB-AC,4'109'825,654762153,right_only
4454,CH0244037112,2022-06-30,ISH W EX SW S/C EQ IN-X0NCHF,BSSXCX0,Open-End Funds,iShares World ex Switzerland S,iShares World ex Switzerland Small Cap Equity ...,ISH W EX SW S/C EQ IN-X0NCHF,ISH-EXW S/C-X0CH,Equity Fund,Funds,Unclassified,0,0,CH,CH,Equities,ISWSSCEIFC-X0 N CHF,364'603,618622486,both
3548,IE00B6ZNT534,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Currency bonds,GUGG U.S. LN USD-AC,3'678'439,562851237,right_only
3590,IE00BYQP5H80,2022-06-30,LEGG MAS WES AST STR OP-AUSD,WASOLAU,Open-End Funds,Legg Mason Western Asset Struc,Legg Mason Western Asset Structured Opportunit...,LEGG MAS WES AST STR OP-AUSD,LEGG-AST OPP-A$,Debt Fund,Funds,Unclassified,0,0,IE,IE,Foreign Currency bonds,LM STR OP USD-LM-AC,3'020'973,391766317,both

#### Comptabiliser les montants investis par groupe d'activité

#### Oil & Gas

In [721]:
oil = df[(df['Gruppe'] == 'Oil and gas') | 
         (df['Gruppe'] == 'Oil&Gas') | 
         (df['Gruppe'] == 'Oil&Gas Services') |
         (df['Gruppe'] == 'Gas') | 
         (df['Gruppe'] == 'Pipelines') 
        ]
        

oil[['Company Name', 'Gruppe', 'Market Value CHF']]

,Company Name,Gruppe,Market Value CHF
78,Korea National Oil Corp,Oil&Gas,10216908
97,EBN BV,Oil&Gas,1048005
268,BP Capital Markets PLC,Oil&Gas,477105
297,TotalEnergies Capital SA,Oil&Gas,2417321
307,ONEOK Partners LP,Pipelines,2678516
361,Korea Gas Corp,Gas,985100
362,Korea National Oil Corp,Oil&Gas,1457250
616,TotalEnergies Capital International SA,Oil&Gas,2610000
674,Korea Gas Corp,Gas,1488150
782,Korea National Oil Corp,Oil&Gas,4630000
786,TotalEnergies Capital International SA,Oil&Gas,2839500
904,Shell International Finance BV,Oil&Gas,18330206
905,Shell International Finance BV,Oil&Gas,8934300
1135,GS Caltex Corp,Oil&Gas,986000
1221,EBN BV,Oil&Gas,1867700
1224,Korea National Oil Corp,Oil&Gas,1474500
1236,Shell International Finance BV,Oil&Gas,8491500
1290,TotalEnergies Capital International SA,Oil&Gas,1985000
1292,Woodside Finance Ltd,Oil&Gas,992800
1421,EBN BV,Oil&Gas,7871026
1422,EBN BV,Oil&Gas,1011700
1668,GAS Networks Ireland,Gas,1907042
1818,Czech Gas Networks Investments Sarl,Gas,1157336
1904,2i Rete Gas SpA,Gas,1525713
1924,Eni SpA,Oil&Gas,2034501
1996,Nederlandse Gasunie NV,Gas,646487
2117,BP Capital Markets BV,Oil&Gas,1491284
2160,Nederlandse Gasunie NV,Gas,955873
2180,SPP-Distribucia AS,Gas,910504
2224,Polski Koncern Naftowy ORLEN SA,Oil&Gas,1162451
2280,Shell International Finance BV,Oil&Gas,2083293
2318,Equinor ASA,Oil&Gas,874052
2320,GAS Networks Ireland,Gas,1654474
2364,BP Capital Markets BV,Oil&Gas,1607384
2429,2i Rete Gas SpA,Gas,4566931
2523,Kinder Morgan Inc,Pipelines,2329714
2579,Redexis Gas Finance BV,Gas,2535620
2593,Pioneer Natural Resources Co,Oil&Gas,3993989
2604,APA Infrastructure Ltd,Gas,640076
2622,Aker BP ASA,Oil&Gas,2303220
2627,Schlumberger Finance BV,Oil&Gas Services,1805154
2666,Phillips 66,Oil&Gas,3617407
2667,Pioneer Natural Resources Co,Oil&Gas,4250039
2781,Williams Cos Inc/The,Pipelines,2924298
2851,BP Capital Markets PLC,Oil&Gas,3834501
2879,National Fuel Gas Co,Gas,4687162
2889,East Ohio Gas Co/The,Gas,2096583
2909,Boston Gas Co,Gas,2804647
2915,ONEOK Inc,Pipelines,2062258
2933,Aker BP ASA,Oil&Gas,3034263
2934,Colonial Enterprises Inc,Pipelines,1426476
2944,Diamondback Energy Inc,Oil&Gas,3181557
2952,Transcontinental Gas Pipe Line Co LLC,Pipelines,3240887
2959,Phillips 66,Oil&Gas,1448784
2986,Diamondback Energy Inc,Oil&Gas,1751491
2995,Spectra Energy Partners LP,Pipelines,1408094
2999,Williams Cos Inc/The,Pipelines,1795851
3002,Plains All American Pipeline LP / PAA Finance ...,Pipelines,2477323
3022,Valero Energy Corp,Oil&Gas,4717463
3027,Enterprise Products Operating LLC,Pipelines,1162324
3040,Suncor Energy Inc,Oil&Gas,1959180
3048,Williams Cos Inc/The,Pipelines,3221328
3053,Marathon Petroleum Corp,Oil&Gas,2705327
3055,Plains All American Pipeline LP / PAA Finance ...,Pipelines,904834
3065,EOG Resources Inc,Oil&Gas,2594529
3067,Midwest Connector Capital Co LLC,Pipelines,5673899
3076,Transcontinental Gas Pipe Line Co LLC,Pipelines,1108788
3097,Northwest Pipeline LLC,Pipelines,3227747
3103,Valero Energy Corp,Oil&Gas,6575814
3104,Valero Energy Corp,Oil&Gas,1345678
3105,Williams Cos Inc/The,Pipelines,3798880
3107,Energy Transfer LP,Pipelines,868194
3111,Atmos Energy Corp,Gas,2920026
3121,Colorado Interstate Gas Co LLC / Colorado Inte...,Pipelines,4946675
3129,Magellan Midstream Partners LP,Pipelines,1970442
3130,Targa Resources Corp,Pipelines,250310
3134,Diamondback Energy Inc,Oil&Gas,1715204
3140,Magellan Midstream Partners LP,Pipelines,205089
3151,Williams Cos Inc/The,Pipelines,3367479
3153,ONEOK Inc,Pipelines,5117372
3155,Valero Energy Corp,Oil&Gas,3723709
3163,Diamondback Energy Inc,Oil&Gas,299844
3164,Cenovus Energy Inc,Oil&Gas,4221938
3171,ONEOK Inc,Pipelines,4604011
3184,MPLX LP,Pipelines,3840926
3185,MPLX LP,Pipelines,6446363
3190,Spectra Energy Partners LP,Pipelines,1501244
3193,Valero Energy Partners LP,Pipelines,6927663
3195,ONEOK Inc,Pipelines,2784711
3223,NiSource Inc,Gas,862544
3228,Enterprise Products Operating LLC,Pipelines,1055306
3235,Enterprise Products Operating LLC,Pipelines,5247350
3236,MPLX LP,Pipelines,794218
3239,Energy Transfer LP,Pipelines,959029
3240,ONEOK Inc,Pipelines,2501197
3241,Targa Resources Corp,Pipelines,1196726
3242,MPLX LP,Pipelines,1093456
3244,Devon Energy Corp,Oil&Gas,3027043
3245,Energy Transfer LP,Pipelines,3180709
3248,Magellan Midstream Partners LP,Pipelines,1370272
3249,Marathon Petroleum Corp,Oil&Gas,2779245
3252,Var Energi ASA,Oil&Gas,11743508
3259,Magellan Midstream Partners LP,Pipelines,1332044
3263,MPLX LP,Pipelines,6890316
3267,Cenovus Energy Inc,Oil&Gas,2816907
3268,Devon Energy Corp,Oil&Gas,2896227
3270,Energy Transfer LP,Pipelines,1233150
3278,Ovintiv Exploration Inc,Oil&Gas,3771860
3280,Cenovus Energy Inc,Oil&Gas,6258104
3284,Kinder Morgan Energy Partners LP,Pipelines,4430200
3303,Energy Transfer LP,Pipelines,2068271
3305,CenterPoint Energy Resources Corp,Gas,595766
3310,Cameron International Corp,Oil&Gas Services,957792
3311,Enterprise Products Operating LLC,Pipelines,958080
3313,Spectra Energy Partners LP,Pipelines,375890
3316,Energy Transfer LP,Pipelines,1106229
3320,Energy Transfer LP,Pipelines,4569432
3321,Enterprise Products Operating LLC,Pipelines,2854319
3323,Canadian Natural Resources Ltd,Oil&Gas,2280544
3324,Energy Transfer LP,Pipelines,6287605
3325,Targa Resources Corp,Pipelines,2330427
3328,Kinder Morgan Energy Partners LP,Pipelines,2711360
3331,Marathon Petroleum Corp,Oil&Gas,3654133
3335,Cenovus Energy Inc,Oil&Gas,6131654
3337,Suncor Energy Inc,Oil&Gas,2937883
3342,Halliburton Co,Oil&Gas Services,3465868
3363,Aker BP ASA,Oil&Gas,2316619
3429,BP Capital Markets PLC,Oil&Gas,2267827
3430,BP Capital Markets PLC,Oil&Gas,2473079
3500,Enbridge Inc,Pipelines,3908673
3507,Eni SpA,Oil&Gas,949658
3508,Eni SpA,Oil&Gas,1342155
3509,Eni SpA,Oil&Gas,1475770
3510,Eni SpA,Oil&Gas,1782985
3511,Enterprise Products Operating LLC,Pipelines,2515385
3533,Florida Gas Transmission Co LLC,Pipelines,981978
3664,TotalEnergies SE,Oil&Gas,3343678
3665,TotalEnergies SE,Oil&Gas,2345444
3666,TotalEnergies SE,Oil&Gas,1989212
3667,TotalEnergies SE,Oil&Gas,1746063
3668,TotalEnergies SE,Oil&Gas,1420603
3812,Aker BP ASA,Oil&Gas,1122842
3835,AltaGas Ltd,Gas,298627
3857,Ampol Ltd,Oil&Gas,583730
3869,APA Group,Pipelines,958913
3870,APA Corp,Oil&Gas,590515
3878,ARC Resources Ltd,Oil&Gas,421428
3907,Atmos Energy Corp,Gas,740393
3922,Baker Hughes Co,Oil&Gas Services,1342301
3975,BP PLC,Oil&Gas,9267042
3980,Brigham Minerals Inc,Oil&Gas,4457380
4028,Canadian Natural Resources Ltd,Oil&Gas,3083708
4035,Cenovus Energy Inc,Oil&Gas,1293242
4046,Cheniere Energy Inc,Pipelines,1461356
4047,Chevron Corp,Oil&Gas,13779568
4095,ConocoPhillips,Oil&Gas,5705778
4106,Coterra Energy Inc,Oil&Gas,1023304
4142,DCC PLC,Oil&Gas,608908
4157,Devon Energy Corp,Oil&Gas,1695956
4160,Diamondback Energy Inc,Oil&Gas,996642
4210,Enagas SA,Gas,1576761
4211,Enbridge Inc,Pipelines,4179421
4215,ENEOS Holdings Inc,Oil&Gas,2264652
4218,Eni SpA,Oil&Gas,8485792
4223,EOG Resources Inc,Oil&Gas,3163962
4228,EQT Corp,Oil&Gas,568487
4230,Equinor ASA,Oil&Gas,3497067
4257,Exxon Mobil Corp,Oil&Gas,17718309
4308,Galp Energia SGPS SA,Oil&Gas,1685756
4349,Halliburton Co,Oil&Gas Services,1376051
4374,Hess Corp,Oil&Gas,1451445
4391,Hong Kong & China Gas Co Ltd,Gas,1271399
4412,Idemitsu Kosan Co Ltd,Oil&Gas,983369
4422,Imperial Oil Ltd,Oil&Gas,537304
4432,Inpex Corp,Oil&Gas,2203332
4503,Keyera Corp,Pipelines,241149
4507,Kinder Morgan Inc,Pipelines,1675182
4586,Magnolia Oil & Gas Corp,Oil&Gas,4380480
4589,Marathon Oil Corp,Oil&Gas,787806
4590,Marathon Petroleum Corp,Oil&Gas,2266196
4673,Naturgy Energy Group SA,Gas,1231881
4677,Neste Oyj,Oil&Gas,1922265
4705,NiSource Inc,Gas,588755
4743,Occidental Petroleum Corp,Oil&Gas,2689410
4754,OMV AG,Oil&Gas,2020998
4756,ONE Gas Inc,Gas,3282655
4757,ONEOK Inc,Pipelines,1216106
4772,Osaka Gas Co Ltd,Gas,1401292
4788,Parkland Corp,Oil&Gas,213224
4796,Pembina Pipeline Corp,Pipelines,947032
4808,Phillips 66,Oil&Gas,1929204
4812,Pioneer Natural Resources Co,Oil&Gas,2510464
4867,Repsol SA,Oil&Gas,6229302
4912,Santos Ltd,Oil&Gas,1724301
4918,Schlumberger NV,Oil&Gas Services,2464566
4947,Shell PLC,Oil&Gas,19965497
4978,Snam SpA,Gas,3091588
5028,Suncor Energy Inc,Oil&Gas,2444052
5052,Targa Resources Corp,Pipelines,631061
5055,TC Energy Corp,Pipelines,2480203
5097,Tokyo Gas Co Ltd,Gas,1608156
5105,TotalEnergies SE,Oil&Gas,37158959
5107,Tourmaline Oil Corp,Oil&Gas,800626
5134,UGI Corp,Gas,386008
5157,Valero Energy Corp,Oil&Gas,2108812
5213,Whiting Petroleum Corp,Oil&Gas,3799924
5214,Williams Cos Inc/The,Pipelines,1856555
5220,Woodside Energy Group Ltd,Oil&Gas,4321208

In [758]:
oil['Market Value CHF'].sum()

620079747

#### Tobacco

In [718]:
tobacco = df[df.apply(lambda row: row.astype(str).str.contains("tobacco", case=False).any(), axis=1)]

In [719]:
tobacco['Market Value CHF'].sum()

52515777

In [720]:
tobacco[['Company Name', 'Gruppe', 'Market Value CHF']]

                         Company Name       Gruppe  Market Value CHF
1355    BAT International Finance PLC  Agriculture           1942000
1437  Philip Morris International Inc  Agriculture           4012000
2482    BAT International Finance PLC  Agriculture           1041276
3071    BAT International Finance PLC  Agriculture           2536086
3161                 BAT Capital Corp  Agriculture           2362594
3169    BAT International Finance PLC  Agriculture           7406929
3207                 BAT Capital Corp  Agriculture           4953195
3836                 Altria Group Inc  Agriculture           3702016
3982     British American Tobacco PLC  Agriculture           9377954
4421              Imperial Brands PLC  Agriculture           2031572
4467                Japan Tobacco Inc  Agriculture           4060238
4807  Philip Morris International Inc  Agriculture           7480626
5037                 Swedish Match AB  Agriculture           1609291

#### Armes, militaire, défense

In [713]:
weapons = df[(df['Gruppe'] == 'Aerospace/Defense') | 
             (df['Untergruppe'] == 'Explosives')
            ]

len(weapons)

30

In [714]:
weapons['Market Value CHF'].sum()

98385932

#### Nucléaire

In [744]:
nuclear = df[df.apply(lambda row: row.astype(str).str.contains('nuclear', case=False).any(), axis=1)]
nuclear

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
360,CH0485445958,2022-06-30,KOHNPW 0 07/19/24,KOHNPW,Corporate Bonds,KOREA HYDRO & NUCLEAR PO,Korea Hydro & Nuclear Power Co Ltd,KOHNPW 0 07/19/24,KOREA HYDRO & NU,Electric,Utilities,Electric-Generation,S.Korea,KR,KR,KR,Swiss Franc bonds,0 KOR HYD 24 GMTN,CHF 1'000'000,974500,both
450,CH0485445966,2022-06-30,KOHNPW 0.05 07/19/27,KOHNPW,Corporate Bonds,KOREA HYDRO & NUCLEAR PO,Korea Hydro & Nuclear Power Co Ltd,KOHNPW 0.05 07/19/27,KOREA HYDRO & NU,Electric,Utilities,Electric-Generation,S.Korea,KR,KR,KR,Swiss Franc bonds,0.05 KOREAHYDRO 27,CHF 1'000'000,914000,both

In [745]:
nuclear['Market Value CHF'].sum()

1888500

#### Voitures

In [753]:
auto = df[(df['Gruppe'] == 'Auto Parts') | 
         (df['Gruppe'] == 'Auto ABS') | 
         (df['Gruppe'] == 'Auto Manufacturers') |
         (df['Gruppe'] == 'Auto Parts&Equipment') | 
         (df['Untergruppe'] == 'Retail-Automobile') | 
         (df['Untergruppe'] == 'Retail-Auto Parts') | 
         (df['Untergruppe'] == 'Rental Auto/Equipment')
        ]
auto['Market Value CHF'].sum()

367270480

#### Mining

In [682]:
mining = df[(df['Gruppe'] == 'Mining')| 
         (df['Untergruppe'] == 'Machinery-Constr&Mining')
           ]



mining[['Company Name', 'Gruppe', 'Untergruppe', 'Market Value CHF']].groupby('Company Name')['Market Value CHF'].sum().to_clipboard()

In [752]:
mining['Market Value CHF'].sum()

104412840.0

In [751]:
mining['Company Name'].unique()

array(['BHP Group Ltd', 'Evolution Mining Ltd', 'Newcrest Mining Ltd',
       'Northern Star Resources Ltd', 'Rio Tinto Ltd', 'South32 Ltd',
       'Silfin NV', 'Agnico Eagle Mines Ltd', 'Barrick Gold Corp',
       'Cameco Corp', 'First Quantum Minerals Ltd', 'Franco-Nevada Corp',
       'Ivanhoe Mines Ltd', 'Kinross Gold Corp', 'Lundin Mining Corp',
       'Pan American Silver Corp', 'Teck Resources Ltd',
       'Wheaton Precious Metals Corp', 'Glencore Finance Europe Ltd',
       'Glencore Capital Finance DAC', 'Antofagasta PLC', 'Rio Tinto PLC',
       'Anglo American PLC', 'Glencore PLC', 'Komatsu Ltd',
       'Sumitomo Metal Mining Co Ltd',
       'Hitachi Construction Machinery Co Ltd', 'Norsk Hydro ASA',
       'Sandvik AB', 'Epiroc AB', 'Boliden AB', 'Alcoa Corp',
       'Barrick North America Finance LLC',
       'Barrick PD Australia Finance Pty Ltd', 'Caterpillar Inc',
       'Caterpillar Financial Services Corp', 'Freeport-McMoRan Inc',
       'Newmont Corp', 'BHP Billiton Finance Ltd', 'Metso Outotec Oyj'],
      dtype=object)

#### Total Energies

In [683]:
total = df[df.apply(lambda row: row.astype(str).str.contains('total', case=False).any(), axis=1)]

total['Company Name'].value_counts()

TotalEnergies SE                          6
TotalEnergies Capital International SA    3
TotalEnergies Capital SA                  1
Name: Company Name, dtype: int64

In [715]:
total['Market Value CHF'].sum()

57855780.0

#### Amazon

In [716]:
amazon = df[df.apply(lambda row: row.astype(str).str.contains('amazon', case=False).any(), axis=1)]

amazon['Company Name'].value_counts()

Amazon.com Inc    1
Name: Company Name, dtype: int64

In [717]:
amazon['Market Value CHF'].sum()

47539941

#### BHP

In [725]:
bhp = df[df.apply(lambda row: row.astype(str).str.contains('BHP', case=False).any(), axis=1)]

In [726]:
bhp['Market Value CHF'].sum()

20286132

#### Energies renouvelables

In [728]:
en = df[df['Gruppe'] == 'Energy-Alternate Sources']

en['Market Value CHF'].sum()

26552636

In [730]:
en[['Company Name', 'Gruppe', 'Market Value CHF']]

,Company Name,Gruppe,Market Value CHF
184,Grande Dixence SA,Energy-Alternate Sources,2000600
806,Grande Dixence SA,Energy-Alternate Sources,892500
1203,Grande Dixence SA,Energy-Alternate Sources,1917000
1362,Grande Dixence SA,Energy-Alternate Sources,446400
1761,EEW Energy from Waste GmbH,Energy-Alternate Sources,974889
1763,Acciona Energia Financiacion Filiales SA,Energy-Alternate Sources,1308076
1844,ERG SpA,Energy-Alternate Sources,5195072
3902,Atlantica Sustainable Infrastructure PLC,Energy-Alternate Sources,3636357
4219,Enphase Energy Inc,Energy-Alternate Sources,1275307
4277,First Solar Inc,Energy-Alternate Sources,2743789
4602,Maxeon Solar Technologies Ltd,Energy-Alternate Sources,1569201
4813,Plug Power Inc,Energy-Alternate Sources,419441
4958,Siemens Gamesa Renewable Energy SA,Energy-Alternate Sources,1283801
4987,SolarEdge Technologies Inc,Energy-Alternate Sources,702180
5167,Vestas Wind Systems A/S,Energy-Alternate Sources,2188023

#### Viande

In [734]:
viande = df[df['Untergruppe'] == 'Food-Meat Products']
viande[['Company Name', 'Gruppe', 'Market Value CHF']]

,Company Name,Gruppe,Market Value CHF
865,Bell Food Group AG,Food,1820400
1100,Bell Food Group AG,Food,2624400
1162,Bell Food Group AG,Food,926000
1413,Bell Food Group AG,Food,2384375
3003,Tyson Foods Inc,Food,3646297
3302,JBS USA LUX SA / JBS USA Food Co / JBS USA Fin...,Food,4535446
4393,Hormel Foods Corp,Food,692026
5129,Tyson Foods Inc,Food,1231476
5209,WH Group Ltd,Food,671707

In [733]:
viande['Market Value CHF'].sum()

18532127

#### Eau

In [737]:
df[df.apply(lambda row: row.astype(str).str.contains('water', case=False).any(), axis=1)]['Gruppe'].value_counts()

Water                    7
Banks                    7
Environmental Control    3
Healthcare-Products      1
Machinery-Diversified    1
Name: Gruppe, dtype: int64

In [736]:
eau = df[df['Gruppe'] == 'Water']

In [738]:
eau['Market Value CHF'].sum()

12519789

In [739]:
eau

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
601,CH0429659623,2022-06-30,KORWAT 0.15 09/20/23,KORWAT,Corporate Bonds,KOREA WATER RESOURCES,Korea Water Resources Corp,KORWAT 0.15 09/20/23,KOREA WATER RESO,Water,Utilities,Water,S.Korea,KR,KR,KR,Swiss Franc bonds,0.15 KOREAWATER 23,CHF 1'000'000,988900,both
2794,XS1627343186,2021-12-31,AQUASM 2.629 06/08/27,AQUASM,Corporate Bonds,FCC AQUALIA SA,FCC Aqualia SA,AQUASM 2.629 06/08/27,FCC AQUALIA SA,Water,Utilities,Water,Spain,ES,ES,ES,Foreign Currency bonds,2.629 FCC AQUALIA27,EUR 3'500'000,3239238,both
3843,US0304201033,2022-06-30,AMERICAN WATER WORKS CO INC,AWK,Common Stocks,American Water Works Co Inc,American Water Works Co Inc,AMERICAN WATER WORKS CO INC,AMERICAN WATER W,Water,Utilities,Water,United States,0,US,US,Equities,AMER WTR WORKS RG,9'329,1328682,both
4235,US29670G1022,2022-06-30,ESSENTIAL UTILITIES INC,WTRG,Common Stocks,Essential Utilities Inc,Essential Utilities Inc,ESSENTIAL UTILITIES INC,ESSENTIAL UTILIT,Water,Utilities,Water,United States,0,US,US,Equities,ESSENTIAL UTIL RG,12'480,547803,both
4942,GB00B1FH8J72,2022-06-30,SEVERN TRENT PLC,SVT,Common Stocks,Severn Trent PLC,Severn Trent PLC,SEVERN TRENT PLC,SEVERN TRENT,Water,Utilities,Water,United Kingdom,0,GB,GB,Equities,SEVERN TRENT RG,26'129,826004,both
5144,GB00B39J2M42,2022-06-30,UNITED UTILITIES GROUP PLC,UU/,Common Stocks,United Utilities Group PLC,United Utilities Group PLC,UNITED UTILITIES GROUP PLC,UNITED UTILITIES,Water,Utilities,Water,United Kingdom,0,GB,GB,Equities,UNITED UTILITIES RG,71'189,844235,both
5160,FR0000124141,2022-06-30,VEOLIA ENVIRONNEMENT,VIE,Common Stocks,Veolia Environnement SA,Veolia Environnement SA,VEOLIA ENVIRONNEMENT,VEOLIA ENVIRONNE,Water,Utilities,Water,France,0,FR,FR,Equities,VEOLIA ENVIRONNEM.,203'557,4744927,both

In [ ]:
eau['Market Value CHF'].sum()

#### Papier

In [742]:
papier = df[df['Gruppe'] == 'Forest Products&Paper']

In [743]:
papier['Market Value CHF'].sum()

14060044

#### Air travel

In [746]:
df[(df['Gruppe'] == 'Airlines') | (df['Untergruppe'] == 'Airport Develop/Maint')][['Company Name', 'Gruppe', 'Untergruppe', 'Market Value CHF']].groupby('Company Name')['Market Value CHF'].sum()

Company Name
ANA Holdings Inc                                        565397
Aena SME SA                                            2801347
Aeroport International de Geneve                       6396600
Aeroporti di Roma SpA                                   447205
Aeroports de Paris                                     1086168
Air Canada                                              104079
Auckland International Airport Ltd                      585635
Avinor AS                                               658647
Brussels Airport Co SA                                 2041758
DAA Finance PLC                                         822308
Delta Air Lines Inc                                     231194
Delta Air Lines Inc / SkyMiles IP Ltd                  2754475
Deutsche Lufthansa AG                                  1001592
Flughafen Zurich AG                                   28866040
Heathrow Funding Ltd                                  10744620
Japan Airlines Co Ltd                                   484130
Qantas Airways Ltd                                      298557
Royal Schiphol Group NV                                2153504
Ryanair DAC                                            3795417
Singapore Airlines Ltd                                  509404
Southwest Airlines Co                                 13927750
United Airlines 2016-1 Class AA Pass Through Trust     5227045
United Airlines 2019-2 Class AA Pass Through Trust      853538
easyJet FinCo BV                                        808046
Name: Market Value CHF, dtype: int64

In [755]:
df[(df['Gruppe'] == 'Airlines') | (df['Untergruppe'] == 'Airport Develop/Maint')]['Market Value CHF'].sum()

87164456

In [757]:
df[(df['Gruppe'] == 'Airlines') | (df['Untergruppe'] == 'Airport Develop/Maint')].groupby('Company Name')['Market Value CHF'].sum().to_clipboard()

#### Entreprises polémiques

In [785]:
target = [
"Amazon",
"TotalEnergies",
"Toyota",
"Engie",
"Air Liquide",
"Enel",
"Iberdrola",
"Shell",
"Exxon",
"Gulf Power",
"Vinci",
"Var Energi",
"Monongahela Power Company - Mon Power",
"Monongahela",
"Philip Morris PMI",
"PMI",
"Philip Morris",
"Airbus",
"Flughafen Zurich",
"ZRH",
"Safran",
"Dassault",
"SIKA",
"Holcim",
"Danone",
"Shin-Etsu Chemical",
"Shin-Etsu",
"Pepsi",
"Bayer",
"Pernod-Ricard",
"Diageo",
"Lonza",
"Henkel",
"Walmart",
"BASF",
"Nestlé",
"Coca Cola",
"Unilever",
"Procter and Gamble",
"Procter & Gamble",
"Procter&Gamble",
"Mercedes",
"Tesla",
"Mitsubishi",
"Schneider Electric",
"ABB",
"LVMH",
"Siemens",
"Stellantis",
"Huntington Ingalls Industries Inc",
"Huntington Ingalls",
"BHP Ltd",
"EDF",
"Arcelor Mittal",
"Air Canada",
"Continental Airlines",
"Cimic group",
"Ballard Systems Power",
"Atco ltd/Canada",
"Ivanhoe Mines Ltd",
"Pan American Silver Corp",
"Lundin Mining Corp",
"Fresnillo PLC",
"Magellan Midstream Partner",
"Parkland Corp",
"Yamana Gold inc",
"Kinross Gold",
"Keyera corp",
"Delta Airlines",
"B2 Gold corp",
"AltaGas LTD",
"Heico Corp",
"SouthWest Airlines",
"Mercury NZ",
"Qantas Airways",
"Qantas",
"Diamondback Energy inc",
"Evolution mining ltd",
"Air China",
"Coal india",
"Indian oil",
"Petronas",
"Polish oil and gas company",
"Ugi corp",
"Imperial oil ltd"]

In [787]:
#df_target = df[df.apply(lambda row: row.astype(str).str.contains('|'.join(target), case=False).any(), axis=1)]
df_target.groupby('Company Name')['Market Value CHF'].sum().to_clipboard()

#### Check environnemental

In [788]:
env = ['Albioma',
 'Alpha Metallurgical',
 'Ameren',
 'American Electric Power',
 'Arch Resources',
 'Athabasca',
 'BP p.l.c.',
 'British Petroleum',
 'Berry Corp',
 'Buzzi Unicem',
 'CF Industries',
 'Canadian Natural Resources',
 'Chevron',
 'Coronado Global Resources',
 'Denbury',
 'Electric Power Development',
 'Eni S.p.A.',
 'Eni SpA',
 'Entergy Corp',
 'Equinor',
 'Exxon',
 'HeidelbergCement',
 'Hokkaido Electric Power',
 'Hokuriku Electric Power',
 'Holcim',
 'New Hope',
 'OCI N.V.',
 'OMV AG',
 'Repsol',
 'Shell',
 'Stanmore',
 'Sumitomo Osaka Cement',
 'Taiheiyo Cement',
 'TerraCom',
 'AES Corp/The',
 "AES Corp",
 'The Scotts Miracle-Gro',
 'ScottsMiracle-Gro',
 'Southern Company',
 'Titan',
 'TransAlta',
 'TransAlta',
 'Vicat',
 'Vistra',
 'Soul Pattinson',
 'WHSP',
 'Yara',
 'eREX']

In [789]:
df_env = df[df.apply(lambda row: row.astype(str).str.contains('|'.join(env), case=False).any(), axis=1)]
df_env.groupby('Company Name')['Market Value CHF'].sum().to_clipboard()

In [690]:
len(df_env)

43

In [691]:
df_env['Company Name'].value_counts().sort_values(ascending = False)

Eni SpA                           6
Holcim Helvetia Finance AG        5
Holcim Finance Luxembourg SA      4
Shell International Finance BV    4
Vistra Operations Co LLC          3
Holcim AG                         3
Canadian Natural Resources Ltd    2
Equinor ASA                       2
Yara International ASA            2
Entergy Corp                      2
Vistra Corp                       1
American Electric Power Co Inc    1
Shell PLC                         1
OMV AG                            1
Ameren Corp                       1
Chevron Corp                      1
Repsol SA                         1
Exxon Mobil Corp                  1
HeidelbergCement AG               1
CF Industries Holdings Inc        1
Name: Company Name, dtype: int64

#### Holcim

In [791]:
holcim = df[df.apply(lambda row: row.astype(str).str.contains('Holcim', case=False).any(), axis=1)]

In [792]:
holcim['Market Value CHF'].sum()

41558828

In [795]:
holcim['Date'].value_counts()

2022-06-30    8
2021-12-31    4
Name: Date, dtype: int64

#### 4 entreprises sans vergogne

In [768]:
select = ['repsol', 'yara', 'cf industries', 'lundin', 'Aker BP']

df[df.apply(lambda row: row.astype(str).str.contains('|'.join(select), case=False).any(), axis=1)]

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
2622,US55037AAA60,2021-12-31,AKERBP 2 07/15/26,LUNESS,Corporate Bonds,AKER BP ASA,Aker BP ASA,AKERBP 2 07/15/26,AKER BP ASA,Oil&Gas,Energy,Oil Comp-Explor&Prodtn,Netherlands,NL,NO,NO,Foreign Currency bonds,2 LUNDIN 26NTS-144A,USD 2'690'000,2303220,both
2933,US55037AAB44,2022-06-30,AKERBP 3.1 07/15/31,LUNESS,Corporate Bonds,AKER BP ASA,Aker BP ASA,AKERBP 3.1 07/15/31,AKER BP ASA,Oil&Gas,Energy,Oil Comp-Explor&Prodtn,Netherlands,NL,NO,NO,Foreign Currency bonds,3.1LUNDIN 31 NTS-,USD 3'830'000,3034263,both
3220,US984851AF24,2022-06-30,YARNO 4 ¾ 06/01/28,YARNO,Corporate Bonds,YARA INTERNATIONAL ASA,Yara International ASA,YARNO 4 ¾ 06/01/28,YARA INTL SA,Chemicals,Basic Materials,Agricultural Chemicals,Brazil,BR,BR,NO,Foreign Currency bonds,4.75 YR 28 NTS-144A,USD 2'160'000,1975649,both
3363,US00973RAE36,2022-06-30,AKERBP 3 01/15/25,AKERBP,Corporate Bonds,AKER BP ASA,Aker BP ASA,AKERBP 3 01/15/25,AKER BP ASA,Oil&Gas,Energy,Oil Comp-Explor&Prodtn,Norway,NO,NO,NO,Foreign Currency bonds,AKER 25 NTS-144A,USD 2'500'000,2316619,both
3812,NO0010345853,2022-06-30,AKER BP ASA,AKRBP,Common Stocks,Aker BP ASA,Aker BP ASA,AKER BP ASA,AKER BP ASA,Oil&Gas,Energy,Oil Comp-Explor&Prodtn,Norway,0,NO,NO,Equities,AKER BP RG,33'872,1122842,both
4040,US1252691001,2022-06-30,CF INDUSTRIES HOLDINGS INC,CF,Common Stocks,CF Industries Holdings Inc,CF Industries Holdings Inc,CF INDUSTRIES HOLDINGS INC,CF INDUSTRIES HO,Chemicals,Basic Materials,Agricultural Chemicals,United States,0,US,US,Equities,CF INDUSTRIES HL RG,10'561,866779,both
4577,CA5503721063,2022-06-30,LUNDIN MINING CORP,LUN,Common Stocks,Lundin Mining Corp,Lundin Mining Corp,LUNDIN MINING CORP,LUNDIN MINING CO,Mining,Basic Materials,Diversified Minerals,Chile,0,CL,CA,Equities,LUNDIN MINING RG,33'196,201036,both
4867,ES0173516115,2022-06-30,REPSOL SA,REP,Common Stocks,Repsol SA,Repsol SA,REPSOL SA,REPSOL SA,Oil&Gas,Energy,Oil Comp-Integrated,Spain,0,ES,ES,Equities,REPSOL BR,442'985,6229302,both
5236,NO0010208051,2022-06-30,YARA INTERNATIONAL ASA,YAR,Common Stocks,Yara International ASA,Yara International ASA,YARA INTERNATIONAL ASA,YARA INTL ASA,Chemicals,Basic Materials,Agricultural Chemicals,Brazil,0,BR,NO,Equities,YARA INTERNATION BR,17'879,713089,both

In [769]:
df[df.apply(lambda row: row.astype(str).str.contains('|'.join(select), case=False).any(), axis=1)].groupby('Company Name')['Market Value CHF'].sum()

Company Name
Aker BP ASA                   8776944
CF Industries Holdings Inc     866779
Lundin Mining Corp             201036
Repsol SA                     6229302
Yara International ASA        2688738
Name: Market Value CHF, dtype: int64

In [767]:
df[df.apply(lambda row: row.astype(str).str.contains('Aker BP', case=False).any(), axis=1)]['Market Value CHF'].sum()

8776944

#### Russie

In [770]:
russia = df[df.apply(lambda row: row.astype(str).str.contains('russi', case=False).any(), axis=1)]
len(russia)

1

In [771]:
russia

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
1919,XS2082345955,2021-12-31,CCHLN 0 ⅝ 11/21/29,CCHLN,Corporate Bonds,COCA-COLA HBC FINANCE BV,Coca-Cola HBC Finance BV,CCHLN 0 ⅝ 11/21/29,COCA-COLA HBC BV,Beverages,"Consumer, Non-cyclical",Beverages-Non-alcoholic,Russia,RU,IT,NL,Foreign Currency bonds,0.625 COCA CO29,EUR 2'500'000,2043259,both

#### Gold

In [776]:
df[df.apply(lambda row: row.astype(str).str.contains('Gold - LBMA Good Delivery Bars', case=False).any(), axis=1)]

,ISIN,Date,Name,Ticker,Wertpapiertyp,Emittent,Company Name,Vollständiger Name,Kurzname,Gruppe,Sektor,Untergruppe,Country (P),Country ISO,Land (Risiko),Sitzland,Asset Class,Description,Nominal/Quantity,Market Value CHF,_merge
5513,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Commodities,GOLD - LBMA GOOD DELIVERY BARS,NaN,1183595274,right_only

In [754]:
# Pour compléter ces montants, recherche dans le détail du fonds Pictet